In [ ]:
# 1. csv 파일 읽기 
# 2. 데이터프레임 > csv 파일 저장
# 3. 데이터프레임 선언
# 4. 시리즈 선언
# 5. 데이터프레임 요약
# 6. 데이터프레임 인덱스 확인/추가/리셋
# 7. 데이터 프레임 값 확인
# 8. 데이터 프레임 컬럼확인, 컬럼명변경, 컬럼타입변경
# 9. 데이터 프레임 행/열 선택
# 10. 데이터 프레임 행 추가/삭제
# 11. 데이터 프레임 열(컬럼) 추가 / 삭제
# 12. 조건에 따른 행/열 선택
# 13. 조건에 따른 열 추가/변경
# 14. np.where(), np.select()
# 15. 데이터 프레임을 인덱스 기준으로 정렬
# 16. 데이터 프레임을 값 기준으로 정려
# 17. 데이터 프레임 행/열 결합
# 18. 시리즈를 데이터프레임에 붙이기
# 19. merge : 두 데이터 프레임에 존재하는 고유값(key)를 기준으로 병합
# 20. 특정 컬럼을 기준으로 데이터를 그룹지어 집계함수 적용
# 21. 범주형 변수의 도수분포표, 이원분할표
# 22. 데이터 재구조화 (melt, pivot_table)
# 23. 데이터 행/열 변경
# 24. 문자열 변경
# 25. 전.isin(후) : '전'이 '후'를 포함하고 있나? > '후'에 있는게 '전'에 있나?
# 26. 열 비교 후 최대값 출력
# 27. lambda
# 28. 날짜/시간 다루기

In [2]:
import pandas as pd
# 1. csv 파일 읽기
df = pd.read_csv('data/iris.csv')
df

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [12]:
# 2. 데이터프레임 > csv 파일 저장
df.to_csv('230924_to_csv.csv', header = True, index = True, encoding = 'UTF-8')

In [4]:
# 3. DataFrame 선언
list = [1,1,1,1]
df = pd.DataFrame(list)
df

   0
0  1
1  1
2  1
3  1

In [5]:
# 4. Series 선언
# DataFrame과 Series의 차이는?
list = [1,1,1,1]
df = pd.Series(list)
df

0    1
1    1
2    1
3    1
dtype: int64

In [22]:
# 5. 데이터프레임 요약
df = pd.read_csv('data/iris.csv')
df.info()
print(df['sepal length'].unique())
print(df['sepal length'].mean()) # NaN 제외
print(df['sepal length'].count()) # NaN 제외
print(df['target'].value_counts()) # NaN 제외

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   target        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
[5.1 4.9 4.7 4.6 5.  5.4 4.4 4.8 4.3 5.8 5.7 5.2 5.5 4.5 5.3 7.  6.4 6.9
 6.5 6.3 6.6 5.9 6.  6.1 5.6 6.7 6.2 6.8 7.1 7.6 7.3 7.2 7.7 7.4 7.9]
5.843333333333334
150
target
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [8]:
# 6. 데이터프레임 인덱스 확인/추가/리셋
import pandas as pd # 라이브러리?
df = pd.read_csv('data/iris.csv')
df.set_index('target', drop = False, inplace = True)
df.set_index('sepal length', drop = True, inplace = True)
df.reset_index(inplace = True) # 기본 인덱스로 설정, 이전 인덱스는 컬럼으로 이동
df

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [15]:
# 7. 데이터 프레임 값 확인
import pandas as pd
df = pd.read_csv('data/iris.csv')
type(df.values[1:3, 1:3]) # index 0부터, 행, 열
# numpy.ndarray? 열림, 닫힘?
df.values[1:4, 1:4]

array([[3.0, 1.4, 0.2],
       [3.2, 1.3, 0.2],
       [3.1, 1.5, 0.2]], dtype=object)

In [36]:
# 8. 데이터 프레임 컬럼확인, 컬럼명변경, 컬럼타입변경
df = pd.read_csv('data/iris.csv')
print(type(df.columns))
print(df.columns)
df.columns = ['a_a', 'b_b', 'c_c','d_d','e_e']
print(df.columns)
df.columns = df.columns.str.replace('_','')
print(df.columns)
df.rename(columns={'bb':'b_b'}, inplace = True)
print(df.columns)
print(df.info())
df['aa'] = df['aa'].astype('int') # int, str, float
print(df.info())
df = df.convert_dtypes()
df.info()

<class 'pandas.core.indexes.base.Index'>
Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'target'], dtype='object')
Index(['a_a', 'b_b', 'c_c', 'd_d', 'e_e'], dtype='object')
Index(['aa', 'bb', 'cc', 'dd', 'ee'], dtype='object')
Index(['aa', 'b_b', 'cc', 'dd', 'ee'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aa      150 non-null    float64
 1   b_b     150 non-null    float64
 2   cc      150 non-null    float64
 3   dd      150 non-null    float64
 4   ee      150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aa      150 non-null    int64
 1   b_b     150 non-null    float64
 2   cc      150 non-null    float64
 3   dd      150 non-null    float64
 4   ee      150 non-null    object
dtypes: float64(3), int64(1), object(1)
memory usage: 6.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aa      150 non-null    Int64
 1   b_b     150 non-null    Float64
 2   cc      150 non-null    Float64
 3   dd      150 non-null    Float64
 4   ee      150 non-null    string
dtypes: Float64(3), Int64(1), string(1)
memory usage: 6.6 KB

In [49]:
# 9. 데이터 프레임 행/열 선택
# loc : 레이블 기반 인덱서, iloc : 위치 기반 인덱서
df = pd.read_csv('data/iris.csv')
print(df)
loc = df.loc[1:4, ['sepal length', 'sepal width']] # 행(닫힌구간) / 열(컬럼명지정)
print(loc)
iloc = df.iloc[1:4, 1:4] # 행(반열린구간) / 열(반열린구간)
print(iloc)
iloc = df.iloc[[1,4], [1,4]] #행(지정) / 열(지정)
print(iloc)

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]
   sepal length  sepal width
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6
   sepal width  petal length  petal width
1          3.0           1.4          0.2
2          3.2           1.3          0.2
3          3.1           1.5          0.2
   sepal width       target
1          3.0  Iris-setosa
4          3.6  Iris-setosa

In [79]:
# 10. 데이터 프레임 행 추가/삭제
# 행 추가
import pandas as pd
df = pd.read_csv('data/iris.csv')
list = [[99.0,98.0,97.0,96.0, 'sample']]
sample = pd.DataFrame(list, columns = df.columns)
print(sample)
#df = df.append(sample) 
df = pd.concat([df,sample], axis = 0) # pandas에서 append 미추천?
df.reset_index(drop = True, inplace = True) # drop = True : 기존 index 삭제 (default = False)
print(df)
# 행 삭제
df.drop(150,inplace = True) # 인덱스 150번째 행 삭제
print(df)
df.drop([0,3], inplace = True) # 인덱스 0, 3번째 행 삭제
print(df)
df.drop(df.index[1:3], inplace = True) # 1,2번째 행 삭제(반열림구간) > 인덱스가 아니라 실제 행 기준으로 삭제
df
# 조건에 따른 행 삭제?

# 결측치가 있는 행 삭제
import numpy as np
df = pd.read_csv('data/iris.csv')
list = [[99.0, np.nan,1,1,'nan_sample']]
sample = pd.DataFrame(list, columns = df.columns)
df = pd.concat([df, sample], axis = 0)
print(df)
df.dropna(inplace = True)
print(df)

# 중복행 추출 및 제거
df_temp = df[df.duplicated() == True]
print(df_temp)
df_temp = df_temp.drop_duplicates(keep = 'last')
print(df_temp)
df.drop(df[df.duplicated()].index, axis = 0, inplace = True)
df

   sepal length  sepal width  petal length  petal width  target
0          99.0         98.0          97.0         96.0  sample
     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica
150          99.0         98.0          97.0         96.0          sample

[151 rows x 5 columns]
     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]
     sepal length  sepal width  petal length  petal width          target
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[148 rows x 5 columns]
     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica
0            99.0          NaN           1.0          1.0      nan_sample

[151 rows x 5 columns]
     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]
     sepal length  sepal width  petal length  petal width          target
34            4.9          3.1           1.5          0.1     Iris-setosa
37            4.9          3.1           1.5          0.1     Iris-setosa
142           5.8          2.7           5.1          1.9  Iris-virginica
     sepal length  sepal width  petal length  petal width          target
37            4.9          3.1           1.5          0.1     Iris-setosa
142           5.8          2.7           5.1          1.9  Iris-virginica

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[147 rows x 5 columns]